/* add your CSS here */
.img-size{
	width: 300px;
	height: 200px;
	padding: 5px 5px 5px 0px;
}
.fact-style{
	font-style: italic;
}
.stylelist{
	font-weight: bold;
}
.nonbulletlist{
	list-style-type: none;
	padding-left: 0;
}
#site-border{
	border-style: solid;
	border-width: thin;
	border-color: #c5c0c0;
	box-shadow: 10px 10px 5px #c5c0c0;
	max-width: 305px;
	padding: 5px 5px 5px 5px;
}
.info-border{
	border-style: solid;
	border-width: thin;
	border-color: #c5c0c0;
	padding: 5px 5px 5px 5px;
}